@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">@loginStr</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthState { get; set; }

	[Inject]
	ILocalStorageService localStorageService { get; set; }

	[Inject]
	NavigationManager navigationManager { get; set; }

	private string loginStr = "About";

	protected async override Task OnInitializedAsync()
	{
		var authState = await AuthState;

		if (authState.User.Identity.IsAuthenticated)
		{
			authState.User.Claims.FirstOrDefault(i=>i.ValueType == ClaimTypes.Email);
			loginStr = await localStorageService.GetItemAsStringAsync("email");
		}
		else
		{
			loginStr = "Login";
			navigationManager.NavigateTo("/login");
		}
	}
}
